body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex: 1;
}


/*style the 1 element of the landing page*/
.hero {

    background-color: #1f2937;
    padding: 0 300px;
    height: 400px;
}

.header {
    font-size: 24px;
    color: #E5E7EB;
    font-weight: 800;
}

.main-head {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.links ul {
    display: flex;
    gap: 20px;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

li:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.button1:hover{
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}

.hero-text {
    display: flex;
    justify-content: space-between;
    /* width: 600px; */
    align-items: center;
    /* gap: 50px; */
    margin-top: 30px;

}

.card1,
.card2 {
    width: 480px;

}

.card1 h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin-bottom: 0;
}

.card1 p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

button {
    background-color: #3882f6;
    border-radius: 5px;
    padding: 5px 15px;
    color: white;
    margin-top: 5px;
    border: none;
}


.hero-img {
    display: flex;
    background-color: grey;
    height: 200px;
    width: 600px;
}


.card2-2 {
    display: flex;
    background-color: grey;
    width: 500px;
    height: 200px;
    justify-content: center;
    align-items: center;
    color: white;
}


/*styles section two*/

.section2 {
    height: 400px;
}

.sec2title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin-top: 30px;
}


.img-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
    /* background-color: green; */
}

.box {
    /* display: flex;
    flex-direction: column; */
    width: 170px;
    /* align-items: center; */
    /* justify-content: center; */
}

.img1,
.img2,
.img3,
.img4 {
    height: 150px;
    width: 150px;
    border: 4px solid;
    background-color: grey;
    border-radius: 10px;
}


/*styles the third section of the website*/
.section3 {
    display: flex;
    background-color: #E5E7EB;
    height: 400px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.insp-quote {
    padding: 0 540px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    width: 500px:
}

.sig {
    display: flex;
    justify-content: flex-end;
    color: #1f2937;
    font-weight: 800;
    font-size: 26px;

}


/*styles section 4*/

.section4 {
    display: flex;
    height: 400px;
    background-color: white;
    justify-content: center; 
    align-items: center;
}

.action {
    display: flex;
    width: 1000px;
    height: 150px;
    background-color: #3882f6;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    box-shadow: 5px 10px #1f2937;
}


.button2 {
    border: white solid;
}
.button2:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.call{
    color: white;
    
}

/*styles the footer*/
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    height: 50px;
    color: white;
}