
body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/*style the 1 element of the landing page*/
.hero{
   
    background-color: #1f2937;
    padding: 0 300px;
    height: 400px;
}

.header{
    font-size: 24px;
    color: #E5E7EB;
    font-weight: 800;
}

.main-head{
    display: flex;
    justify-content: space-between; 
    margin-top: 20px;
}

.links ul{
    display: flex;
    gap: 20px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}



.hero-text{
    display: flex;
    justify-content: space-between;
    /* width: 600px; */
    align-items: center;
    /* gap: 50px; */
    margin-top: 30px;
    
}

.card1,
.card2{
    width: 480px;
    
}

.card1 h1{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin-bottom: 0;
}

.card1 p{
    font-size: 18px;
    color: #E5E7EB;
    margin: 0 ;
}

button{
    background-color: #3882f6;
    border-radius: 5px;
    padding: 5px 15px;
    color: white;
    margin-top: 5px;
    border: none;
}


.hero-img{
    display: flex;
    background-color: grey;
    height: 200px;
    width: 600px;
}


.card2-2{
    display: flex;
    background-color: grey;
    width: 500px;
    height: 200px;
    justify-content: center;
    align-items: center;
    color: white;
}


/*styles section two*/

.section2{
    height: 400px;
}

.sec2title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin-top: 30px;
}


.img-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
    /* background-color: green; */
}

.box{
    width: 170px;
    
}

.img1,
.img2,
.img3,
.img4{
    height: 150px;
    width: 150px;
    border: 4px solid;
    background-color: grey;
    border-radius: 10px;
}

